@import 'reset.css';

html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.layout {
  height: 100%;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: auto 300px;
  grid-template-areas: 'main controls';
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .layout {
    grid-template-columns: auto;
    grid-template-areas: 'main' 'controls';
  }
}

#renderCanvas {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
}

.error-message {
  color: #f00;
}

input[type='text'],
input[type='number'] {
  padding: 0.5em;
}

input[type='text'][readonly] {
  border: 0;
  padding: 0;
  margin: 0;
}

input[type='text'][readonly]:focus {
  border: 0;
}

.control-panel section.border {
  border: 1px dashed #ccc;
  padding: 0.5em 0.75em 0 0.75em;
  margin-bottom: 1em;
}
.control-panel section.border header {
  font-style: italic;
  margin: 0 0 0.75em 0;
}

.form-row,
.form-row-inline,
.form-row-checkbox {
  padding: 0 0 1em 0;
}

.form-row label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-row .help {
  float: right;
  font-style: italic;
  color: #555;
}

.form-row input[type='text'],
.form-row input[type='number'] {
  display: block;
  width: 100%;
}

.form-row-inline {
  display: grid;
  grid-template-columns: 5em auto;
  grid-template-areas: 'label control';
}
.form-row-inline label {
  font-weight: bold;
}

.form-row-checkbox label input[type='checkbox'] {
  padding: 0;
  margin: 0 0.75em 0 0;
}

fieldset legend {
  font-weight: bold;
}
